@import "../../styles//variables";

.modelCard {
  position: relative;

  .cardInfo {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba($color: $tertiaryColor, $alpha: 0.5);
    transition: visibility 0s, opacity 0.5s linear;
  }

  &:hover {
    cursor: pointer;
    .cardInfo {
      visibility: visible;
      opacity: 1;
    }
  }
}
