@import "../../styles/variables";

.applySecondSection {
  ol {
    font-size: 35px;
    li {
      margin: 20px auto;
    }
  }
}

.sectionNavigationBtn {
  color: $secondaryColor;

  &:hover {
    color: $tertiaryColor;
  }
}
