@import "./variables";

.container {
  padding: 0 2rem;
}

.homeContainer {
  position: absolute;
  top: 460px;
  left: 0;
  padding-bottom: 20px;
}

.aboutUsContainer {
  display: flex;
  margin: auto 100px;
  margin-bottom: 20px;
  height: 400px;

  .infoDiv {
    max-width: 75%;
    position: relative;

    .content {
      margin: auto 50px;
    }

    .aboutBtn {
      position: absolute;
      bottom: 0px;
      left: 50%;
    }
  }

  .imgDiv {
  }
}

.legendContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto 80px;

  .horizontalLine {
    height: 3px;
    width: 500px;
    border-radius: 20px;
    background-color: $secondaryColor;
  }

  .legendTitle {
    display: inline;
  }
}

.contactUsSection {
  position: relative;
  background: url("../public/images/tfpBackground.png");
  background-repeat: repeat;
  background-size: cover;
  background-color: $tertiaryColor;
  height: 340px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;

  .contactImage {
    width: 273px;
  }

  .contactContent {
    width: 350px;
    text-align: center;
  }
}
